 p.dotted {border-style: dotted ;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;
}
.rei {
 border: 10px solid #1B4242;
 border-radius: 30px;
 background-color: #9EC8B9;
 margin: 2%;
}
body {
  background-color: #092635;
}
h1 {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}
h2 {
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}
.miku {
  border: solid 2px black;
}

.teto {
  border: groove 15px black;
}

.rin {
  border: ridge 35px black;
}

.len {
  border: ridge thin black;
}

.kaito {
  border: inset medium black;
}

.luka {
  border: outset thick black;
}
.kafu {
 margin: 2%;   
 border: 10px solid #1B4242;
 border-radius: 30px;
 background-color: #9EC8B9;
 padding: ;
}
* {
  box-sizing: border-box;
}
header {
  background-color: #7b0323;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* ensures header stays above other content */
  text-align: center;
  
}
nav {
  float: left;
  height: 3000px;
  width: 30%;
  background: #A52A2A;
  text-align: center;
  border: black solid;
  position: fixed;
  top: 90px;
  left: 0;
   
  
  z-index: 999;
  margin: 0;
  padding: 0;
}
nav ul {
  margin: -50;
  padding: 0;
  list-style-type: none ; 
}
nav li a{
    background-color: #8B0000;
    margin-bottom: 100px;
    height: 10px;
    display: block;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 1px;
}
article {

  float: left;
  padding: 10px;
  width: 70%;
   
   
  border: black solid;
  position: relative;
  left: 30%;
  top: 200px; 
}
section::after {
  content: "";
  display: table;
  clear: both;
}
li a {
    padding: 27.19px;    
}
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
li a:hover {
    background-color: rgb(117, 0, 0);
    transform: 9px ;
}
h1, h2, p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
a {
    text-decoration: none;
}
html, body {
    height: 100%;
    margin: 0;
}
footer {
  background-color: #7b0323;
  padding: 10px;
  height: 200px;
}
nav li a i {
  font-size: 18px;
  line-height: 1;
  display: inline-block;
}
.tite {
  margin-top: 20%;
}


