.head {
    background-color: #FCEF91;
    text-align: center;
    width: 92%;
    float: left;
    border: 2px solid blac;
    margin: 2%;
    border-radius: 25px;
    box-shadow: 10px 10px 5px grey;
    height: 250px;
    padding: 15px;

}
.para {
    font-size: 20px;
    text-align: center;
}
.head1 {
    background-color: #FB9E3A;
    text-align: center;
    width: 92%;
    float: left;
    border: 2px solid #FB9E3A;
    margin: 2%;
    border-radius: 25px;
    box-shadow: 10px 10px 5px grey;
    height: 250px;
    padding: 15px;

}
.head2 {
    background-color: #E6521F;
    text-align: center;
    width: 92%;
    float: left;
    border: 2px solid #E6521F;
    margin: 2%;
    border-radius: 25px;
    box-shadow: 10px 10px 5px grey;
    height: 250px;
    padding: 15px;
}  
.sub-head2 {
    background-color: #EA2F14;
    text-align: center;
    width: 90%;
    float: left;
    border: 9px solid #EA2F14;
    box-shadow: 10px 10px 5px grey;
    margin: 4%;
    border-radius: 25px;
    
    height: 350px;
    padding: 15px;
}
.sub-head3 {
    background-color: black;
    text-align: center;
    width: 20%;
    float: left;
    border: 2px solid black;
    box-shadow: 10px 10px 5px #FB9E3A;
    margin: 2%;
    border-radius: 25px;
    color: white;
    height: 100px;
    padding: 50px;
}  
.sub-head4 {
    background-color: #FB9E3A;
    text-align: center;
    width: 90%;
    float: left;
    border: 2px solid #FB9E3A;
    box-shadow: 10px 10px 5px grey;
    margin: 5%;
    margin-top: 50px;
    border-radius: 25px;
    height: 660px;
    padding: 75px;
    position: relative;
    top: 180px;
}

.little-box {
      background-color: white;
    text-align: center;
    width: 20%;
    float: left;
    border: 2px solid ;
    box-shadow: 10px 10px 5px #FB9E3A;
    margin: 2%;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    height: 100px;
    padding: 50px;
    font-size: x-large;
}
.sub-head5 {
    background-color: #ea6900;
    text-align: center;
    width: 90%;
    float: left;
    border: 2px solid #ea6900;
    box-shadow: 10px 10px 5px grey;
    margin: 1.5%;
    margin-top: 50px;
    border-radius: 25px;
    height: 660px;
    padding: 75px;
    position: relative;
    font-size: x-large;
    top: 180px;
}

.little-box1 {
      background-color: white;
    text-align: center;
    width: 20%;
    float: left;
    border: 2px solid black;
    margin: 2%;
    border-radius: 25px;
    color: black;
    height: 100px;
    padding: 50px;
}
#box1 { background-color: #FFB6C1; font-family: 'Courier New', Courier, monospace; }
#box2 { background-color: #FFD700; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
#box3 { background-color: #90EE90; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
#box4 { background-color: #87CEFA; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
#box5 { background-color: #FFA07A; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
#box6 { background-color: #DDA0DD; font-family: 'Times New Roman', Times, serif; }
#box7 { background-color: #20B2AA; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
#box8 { background-color: #FF6347; font-family: Arial, Helvetica, sans-serif;}
#box9 { background-color: #B0C4DE; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

#box10 { background-color: #FFB6C1; }
#box11 { background-color: #FFD700; }
#box12 { background-color: #90EE90; }
#box13 { background-color: #87CEFA; }
#box14 { background-color: #FFA07A; }
#box15 { background-color: #DDA0DD; }
#box16 { background-color: #20B2AA; }
#box17 { background-color: #FF6347; }
#box18 { background-color: #B0C4DE; }

* {
  box-sizing: border-box;
}
header {
  background-color: #7b0323;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* ensures header stays above other content */
  
}
nav {
  float: left;
  height: 3000px;
  width: 30%;
  background: #A52A2A;
  text-align: center;
  border: black solid;
  position: fixed;
  top: 90px;
  left: 0; 
  z-index: 999;
  margin: 0;
  padding: 0;
  margin-bottom: 500px;
}
nav ul {
  margin: -50;
  padding: 0;
  list-style-type: none ; 
}
nav li a{
     background-color: #8B0000;
    margin-bottom: 1px;
    display: block;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 10px;
   
}
article {
  margin-top: 200px;

  float: left;
  padding: 10px;
  width: 70%;
  background-color: #A52A2A;  
  height: 3000px;
  border: black solid;
  position: relative;
  left: 30%;
  top: 100%; 
}
section::after {
  content: "";
  display: table;
  clear: both;
}
li a {
    padding: 27.19px;    
}
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
li a:hover {
    background-color: rgb(117, 0, 0);
    transform: 9px ;
}
h1, h2, p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
a {
    text-decoration: none;
}
html, body {
    height: 100%;
    margin: 0;
}
footer {
  background-color: #7b0323;
  padding: 10px;
  height: 200px;
}
.tite {
  margin-top:20%;
}


