.heading {

}
.miku {
    border: 2px solid lightblue;
    background-color: lightblue;
    box-shadow: 5px 10px 5px  red;
    text-align: center;
    border-radius: 35px;
    width: 94%;
    float: left;
    padding: 30px;
    margin: 5px;
    font-size: larger;
    color: black;
}
.teto {
    border: 10px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 20px 0px  rgb(255, 204, 0);
    border-radius: 55px;
    width: 70%;
    float: left;
    padding: 10px;
    margin: 2%;
    height: 110px;
    margin-top: 10px;
    color: black;


}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
} 
.chisA {
    background-color: #ffffff;
    text-align: center;
    width: 90%;
    float: left;
    border: 2px solid 
    margin: 1.5%;
    margin-top: 50px;
    border-radius: 25px;
    height: 900px;
    padding: 75px;
    position: relative;
    margin-top: 50px;
    color: black;   
}
.Kaito {
    background-color: rgb(226, 226, 226);
    text-align: center;
    width: 26%;
    float: left;
    border: 2px solid black;
    margin-right: -4px; 
    border-radius: 99px;
    color: black;
    height: 70px;
    margin-top: -35px;
    margin-left: 35px; 
      box-shadow: 2px 10px 4px  rgb(43, 100, 185, 0.993 );       
    
}

.Len {
    background-color: rgb( 226, 226, 226);
    text-align: center;
    width: 26%;
    float: left;
    border: 2px solid black;
    margin-right: -4px;
    border-radius: 99px;
    color: black;
    height: 70px;
    margin-top: -35px;
    margin-left: 35px;
      box-shadow: 2px 10px 4px  rgb(43, 100, 185, 0.993 );
     
     
}
.Rin {
    background-color: rgb( 226, 226, 226);
    text-align: center;
    width: 26%;
    float: left;
    border: 2px solid black;
    margin-right: -4px;
    border-radius: 99px;
    color: black;
    height: 70px;
    margin-top: -35px;
    margin-left: 35px;
    box-shadow: 2px 10px 4px  rgb(43, 100, 185, 0.993 );
    
}

hr {
    width: 1000%;
    background-color: cornflowerblue;
    margin: 20px 0;
    height: 4px;
    
}
    header {
  background-color: #7b0323;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* ensures header stays above other content */
  text-align: center;
  
}
nav {
  float: left;
  height: 3000px;
  width: 30%;
  background: #A52A2A;
  text-align: center;
  border: black solid;
  position: fixed;
  top: 180px;
  left: 0; 
  z-index: 999;
  margin: 0;
  padding: 0;

}
nav ul {
  margin: -50;
  padding: 0;
  list-style-type: none ; 
}
nav li a{
    background-color: #8B0000;
    margin-bottom: 1px;
    display: block;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 10px;
}
article {

  float: left;
  padding: 10px;
  width: 70%;
 
   
  
  position: relative;
  left: 25%;
  top: 200px; 
}
section::after {
  content: "";
  display: table;
  clear: both;
}
li a {
    padding: 27.19px;    
}
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
li a:hover {
    background-color: rgb(117, 0, 0);
    transform: 9px ;
}
h1, h2, p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
a {
    text-decoration: none;
}
html, body {
    height: 100%;
    margin: 0;
}
footer {
  background-color: #7b0323;
  padding: 10px;
  height: 200px;
}