body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.box {
    width: 200px;
    height: 200px;
    position: absolute;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 500px;
    height: 500px;
    margin: auto;
}

.box1 {
    background-color: #354F60;
    top: 100px;
    left: 100px;
    z-index:1;
    text-align: top;

}

.box2 {
    background-color: #BC0E4C;
    top: 150px;
    left: 150px;
    z-index: 3;
    text-align: top;
}

.box3 {
    background-color: #FFC501;
    top: 200px;
    left: 200px;
    z-index: 1;
    text-align: top;
}

.box4 {
    background-color: #3F84E5;
    top: 250px;
    left: 250px;
    z-index: 2;
    text-align: top;
}
.box:hover {
    cursor: pointer;
    z-index: 10;
}
header {
  background-color: #7b0323;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* ensures header stays above other content */
  text-align: center;
  
}
nav {
  float: left;
  height: 3000px;
  width: 30%;
  background: #A52A2A;
  text-align: center;
  border: black solid;
  position: fixed;
  top: 180px;
  left: 0; 
  z-index: 999;
  margin: 0;
  padding: 0;

}
nav ul {
  margin: -50;
  padding: 0;
  list-style-type: none ; 
}
nav li a{
    background-color: #8B0000;
    margin-bottom: 1px;
    display: block;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 10px;
}
article {

  float: left;
  padding: 10px;
  width: 70%;
 
   
  
  position: relative;
  left: 25%;
  top: 200px; 
}
section::after {
  content: "";
  display: table;
  clear: both;
}
li a {
    padding: 27.19px;    
}
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
li a:hover {
    background-color: rgb(117, 0, 0);
    transform: 9px ;
}
h1, h2, p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
a {
    text-decoration: none;
}
html, body {
    height: 100%;
    margin: 0;
}
footer {
  background-color: #7b0323;
  padding: 10px;
  height: 200px;
}